@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1200px) {
    .max-w-custom {
      max-width: 500px; /* ваше значение ширины в пикселях */
      margin-left: auto; /* Центрирование блока по горизонтали */
      margin-right: auto;
    }
    
    .bg-blur-sm {
      background-color: rgba(255, 255, 255, 0.5);  
    }

    body{
      font-family: sans-serif;
    }

    .leaflet-container{
      height: 400px;

    }

    .mr-5 {
      margin-right: 1.25rem; /* Это эквивалентно 5 пикселям в режиме по умолчанию */
    }
    
  }

